<style type="text/css" media="print"> /* *:not(#print) { display: none; } */</style>
<%= render :partial => 'spree/admin/shared/sub_menu/configuration' %>
<% if Rails.env.development? %>
  <script> var webPrefix = "https://localhost:3000/admin/stock_boxes/"; </script>
<% else %>
  <script> var webPrefix = "https://www.retroca.com.br/admin/stock_boxes/"; </script>
<% end %>
<% content_for :page_actions do %> 
  <li><%= button_link_to "Nova Caixa", new_admin_stock_box_path %></li>
  <% if params[:order_by] == "non_empty" %>
    <li><%= button_link_to "Todas", admin_stock_boxes_path %></li>
  <% else %>
    <li><%= button_link_to "Apenas caixas não-vazias", admin_stock_boxes_path(order_by: "non_empty") %></li>
  <% end %>
<% end %>

<% content_for :page_title do %>
  Caixas de Estoque
<% end %>

<table class="table">
  <thead><tr>
    <th>Number</th>
    <th>Positionx</th>
    <th>Positiony</th>
    <th>Positionz</th>
    <th>
      <% if params[:order_by] == "quantity" %>
        <%= link_to "Quantity", admin_stock_boxes_path, class:"sort_link asc" %>
      <% else %>
        <%= link_to "Quantity &dtrif;".html_safe, admin_stock_boxes_path(order_by: "quantity"), class:"sort_link desc" %>
      <% end %>
    </th>
    <!--<th>Items</th>-->
    <th data-hook="admin_orders_index_header_actions" class="actions"></th>
  </tr></thead>
<tbody>
<% @stock_boxes.each do |stock_box| %>
  <tr>
    <td><%= link_to stock_box.number, admin_stock_box_path(stock_box) %></td>
    <td><%= stock_box.positionX %></td>
    <td><%= stock_box.positionY %></td>
    <td><%= stock_box.positionZ %></td>
    <td><%= stock_box.total_items %></td>
    <td class='actions align-center' data-hook="admin_orders_index_row_actions">
			<%= link_to_edit_url edit_admin_stock_box_path(stock_box), :no_text => true %>
			<%= link_to_delete stock_box, :no_text => true, :url => admin_stock_box_path(stock_box) %>
      <%= button_link_to "Imprimir", admin_stock_box_path(stock_box, {print: true}) %>
		</td>
  </tr>
<% end %>
<tbody>
</table>

<%= paginate @stock_boxes %>

<script type="text/javascript">
$(".actions a.button").on("click", function(e){
  e.preventDefault();
  window.open($(this).attr("href"),'popUpWindow','scrollbars=yes,menubar=no');
});
</script>