<% content_for :head do %>
<style type="text/css">
@media print {
	#progress, header, #admin-menu, #content-header .page-actions, #sidebar, .twelve.columns > br, .twelve.columns > a {
		display:none !important;
	}
	img {
		display:none;
	}
}
ul li {
	display: inline-block;
	padding-left:30px;
}
</style>
<% end %>

<%= render :partial => 'spree/admin/shared/sub_menu/configuration' %>

<% content_for :page_actions do %>
	<li><button onClick="window.print()">Imprimir</button></li>
<% end %>

<% content_for :page_title do %>
  Peças na Caixa #<%= @stock_box.number %>
<% end %>

<% if params[:print] %>
<h1>Peças na Caixa #<%= @stock_box.number %></h1>
<% else %>
<%= image_tag @barcode_path %>
<% end %>

<table class="table">
  <thead>
	<tr>
		<th>SKU</th>
		<th>Nome</th>
		<th>Estoque</th>
	</tr>
  </thead>

	<% @variants.each do |variant| %>
		<tbody>
		  <tr>
		    <td><%= variant.sku %></td>
		    <td><%= link_to variant.name, admin_product_path(variant.product), target: "_blank" %></td>
			<td>
				<%= variant.stock_items.collect(&:count_on_hand).reduce(:+) %>
				<%= "(#{variant.stock_state[0]})" if variant.stock_items.collect(&:count_on_hand).reduce(:+) == 0 %>
			</td>
		  </tr>
		</tbody>
	<% end %>
	<tfoot>
		<tr>
			<td colspan="3">
				<ul>
					<li>(R) = Reservado</li>
					<li>(V) = Vendido</li>
					<li>(P) = Perdido</li>
				</ul>
			</td>
		</tr>
	</tfoot>
</table>

<br />



<br />

<%= link_to 'Voltar', admin_stock_boxes_path %>

<% if params[:print] %>
<script type="text/javascript">
window.print()
</script>
<% end %>